@import url(./style.css);

.column2 {
    height: 240px;
    width: 33.18%;
    float: left;
    border-bottom: 0px;
    text-align: center;
    background-color: yellow;
    border: solid black 1px;
}