@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/nature/nat-3/nat271.cur), auto !important;} /* End https://www.cursors-4u.com */
.header {
    box-sizing: border-box;
    height: 100px;
    width: 100%;
    font-family: 'Lora', serif;
    font-size: larger;
    line-height: 100px;
    color: black;
    background-color: yellow;
    border: solid mediumblue 2px;
}

#headerpic {
    vertical-align: bottom;
    height: 96px;
    padding-top: 0px;
    padding-bottom: 5px;
    padding-left: 194px;
  }

  #headerpiclink:hover {
    background-color: inherit;
}

.navbar {
    clear: both;
    box-sizing: border-box;
    width: 100%;
    padding: 25px;
    border: solid mediumblue 2px;
    background-color: yellow;
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
    text-align: center;
    top: 0%;
    position: sticky;
}

#header-social {
    font-family: 'Lora', serif;
}

.row::after {
    content: " ";
    display: table;
    clear: both;
}

.column {
    height: 240px;
    width: 33.18%;
    float: left;
    background-color: yellow;
    border: solid mediumblue 1px;
    text-align: center;
    vertical-align: middle;
}

.section {
    height: 100px;
    padding-bottom: 20px;
    border-top: solid mediumblue 1px;
}

.footer {
    box-sizing: border-box;
    height: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Lora', serif;
    font-size: larger;
    text-align: center;
    background-color: yellow;
    border: solid mediumblue 2px;
}

.footercolumn {
    width: 33.18%;
    float: left;
    font-size: medium;
    text-align: center;
    vertical-align: middle;
    border-right: solid mediumblue 2px;
}

#footer-credit {
    border-right: solid mediumblue 2px;
}

#footer-menu {
    padding-right: 2px;
    border-right: solid mediumblue 2px;
}

#footer-social {
    border-right: 0px;
}

#home {
    padding-right: 50px;
    padding-left: 50px;
}

#about {
    padding-right: 50px;
    padding-left: 50px;
}

#contact {
    padding-right: 50px;
    padding-left: 50px;
}

a {
    color: mediumblue;
    font-family: 'Lora', serif;
}

a:visited {
    color: black;
    text-underline-position: below 0px;
}

a:hover {
    background-color: white;
}

.fa {
    width: 30px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
  }

  .fa:hover {
    background-color: mediumblue;
  }

  .fa-facebook {
    background: #3B5998;
  }

  .fa-twitter {
    background: #55ACEE;
  }

  .fa-instagram {
    background : #D046AE;
  }

  img {
    padding-top: 20px;
}

h {
    font-family: 'Lora', serif;
    text-decoration: underline;
}

p {
    font-family: 'open sans', sans-serif;
}

text {
    font-family: 'open sans', sans-serif;
}